.wrapper {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 20px;

  .main {
    max-width: 1000px;
    width: 100%;
  }
}