.header {
  max-width: 1000px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  font-size: 20px;
  padding: 10px 0;

  &__cryptoTop {
    display: flex;
    margin-right: 10px;
  }

  &__balance {
    text-align: right;
    cursor: pointer;
  }

  @media (max-width: 470px) {
    font-size: 16px;
  }
}

.cryptoTop__item {
  & + & {
    margin-left: 10px;
  }
}
